.dockerignore
.idea
db/sql/.idea
www/.idea

cmake-build-*

src/lib/delphi
src/core
src/common
src/modules/Helpers/PGFetch
src/modules/Helpers/PGFile

src/modules/Workers/AppServer
src/modules/Workers/AuthServer
src/modules/Workers/ConfirmEmail
src/modules/Workers/FileServer
src/modules/Workers/PGHTTP
src/modules/Workers/WebServer
src/modules/Workers/WebSocketAPI

src/processes/MessageServer
src/processes/ReportServer
src/processes/TaskScheduler

db/sql/platform
