name: 'apostol'

services:

  postgres:
    build:
      context: .
      dockerfile: ./docker/postgres/Dockerfile
    container_name: postgres
    cap_add:
      - NET_ADMIN
    networks:
      - db-network
    ports:
      - "5433:5432"
    restart: unless-stopped
    env_file: ./docker/postgres/.env
    volumes:
      - postgresql:/var/lib/postgresql
    healthcheck:
      test: ['CMD', 'pg_isready', '-U', 'postgres']
      interval: 10s
      timeout: 5s
      retries: 3

  pgbouncer:
    build: ./docker/pgbouncer
    container_name: pgbouncer
    networks:
      - db-network
    restart: unless-stopped
    depends_on:
      - postgres
    env_file: ./docker/pgbouncer/.env
    healthcheck:
      test: ['CMD', 'pg_isready', '-h', 'pgbouncer', '-p', '6432']
      interval: 10s
      timeout: 5s
      retries: 3

  pgweb:
    build: ./docker/pgweb
    container_name: pgweb
    restart: unless-stopped
    networks:
      - lan-network
      - db-network
    ports:
      - "8081:8081"
    env_file: ./docker/pgweb/.env
    depends_on:
      - postgres

  backend:
    build: .
    container_name: backend
    networks:
      - lan-network
      - db-network
    ports:
      - "8080:8080"
    restart: unless-stopped
    env_file: .env
    volumes:
      - tmp:/tmp/apostol
    depends_on:
      - pgbouncer

networks:
  lan-network:
    ipam:
      driver: default
      config:
        - subnet: 172.18.1.0/24
  db-network:
    ipam:
      driver: default
      config:
        - subnet: 172.18.2.0/24

volumes:
  postgresql:
  tmp:
    driver: local
    driver_opts:
      type: tmpfs
      device: tmpfs
      o: size=100m
