[Unit]
Description=Apostol
After=network.target remote-fs.target nss-lookup.target

[Service]
Type=forking
PIDFile=/run/apostol.pid
# Apostol will fail to start if /run/apostol.pid already exists but has the wrong
# SELinux context. This might happen when running `apostol -t` from the cmdline.
# https://bugzilla.redhat.com/show_bug.cgi?id=1268621
ExecStartPre=/usr/bin/rm -f /run/apostol.pid
ExecStartPre=/usr/sbin/apostol -t
ExecStart=/usr/sbin/apostol
ExecReload=/bin/kill -s HUP $MAINPID
KillSignal=SIGQUIT
TimeoutStopSec=5
KillMode=mixed
PrivateTmp=true

[Install]
WantedBy=multi-user.target
